<!DOCTYPE html>
<html>
  <head>
    <title>Bugzilla</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <li><%= link_to 'Bugzilla', welcome_index_path, class:"navbar-brand" %></li>
          </div>
          <ul class="nav navbar-nav">
            <% if can? :create, Bug %>
              <li><%= link_to 'Add Bug', new_bug_path %></li>
            <% end  %>

            <% if can? :assign, BugHistory %>
              <li><%= link_to 'Assign Bug', bug_histories_assign_path %></li>
            <% end %>


            <% if can? :create, Project %>
              <li><%= link_to 'Add Project', new_project_path %></li>
            <% end %>

            <% if can? :assign, ProjectHistory  %>
              <li><%= link_to 'Assign Project', project_histories_assign_path %></li>
            <% end %>

            <% if can? :assign_developer, BugHistory %>
              <li><%= link_to 'Bugs',bug_histories_assign_developer_path  %></li>
            <% end %>

            <% if can? :assign_developer, ProjectHistory  %>
              <li><%= link_to 'Projects', project_histories_assign_developer_path %></li>
            <% end %>




            <li><%= link_to 'Sing Out', destroy_user_session_path, method: :delete %></li>

          </ul>
        </div>
      </nav>
    <% else %>
      <li><%= link_to 'Log In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
